body{
    font-family: 'Courier New', Courier, monospace;
    background-color:rgba(207, 207, 202, 0.671);
}
.button{
    width: 50px;
    height: 50px;
    border: none;
    padding: 6px;
    margin: 3px;
    background-color: white;
    border-right: 1px solid rgb(194, 194, 191);
    border-bottom: 1px solid rgb(194, 194, 191);
}
.calculadora{
    background: rgb(235, 233, 231);
    align-items: center;
}