body{
    color: #222;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.texturas{
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.texturas div{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 6px;
}
.textura1{
    background: url("img/textura1.png");
}
.textura2{
    background: url("img/textura2.png");
}
.textura3{
    background: url("img/textura3.png");
}
.zona{
    margin: 10px;
    background: #ddd;
    height: 200px;
}